<launch>
  <!-- Launch yolo -->
  <include file="$(find darknet_ros)/launch/darknet_ros.launch">
  </include>
  
  <!-- Launch gazebo -->
  <include file="$(find aue_finals)/launch/lf_world.launch">
  <arg name="model" value="burger"/>
  </include>

  <!-- Launch the desired node -->
  <node pkg ="aue_finals" type = "stop_sign.py" name = "stop_sign" output = "screen"/>
</launch>
